#playButton {
    padding: 5px;
    font-size: 1.5rem;
    background-color: var(--second-color);
    color: var(--first-color);
    cursor: pointer;
    font-family: var(--font-main);
    border-radius: 5px;
}

.player {
    padding:10px
}