.hide {
  display: none;
}

#searchLabel,
#pokemonName,
input,
button {
  font-family: var(--font-main);
}

/* #background {
  position: fixed;
  top: 0;
  z-index: -10;
  height: 100vh;
} */

/*******POKEBALL*********/

#pokeball {
  width: 100px;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Pokemon name heading Start */
#headingPoke {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#pokemonName {
  font-size: 15vw;
  margin: 0;
  text-shadow: -10px 0 white, 0 10px white, 10px 0 white, 0 -10px white;
}

#typeImg {
  width: 10%;
  padding-left: 5%;
}
/* Pokemon name heading Start */
/****************/

/****************/
/* pokedex start */
#imgHolder {
  position: relative;
  min-width: 200px;
  width: 95vw;
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#pokedexImg {
  position: relative;
  width: 100%;
  filter: drop-shadow(0.6em 0.6em 0.2em);
  margin-bottom: 2rem;
}

#pokemonImg {
    position: absolute;
    top: 23%;
    left: 4.5%;
    width: 43%;
    filter: drop-shadow(0.40em 0.40em 0.3em grey);
}

#statsChart {
    position: absolute;
    top: 26.7%;
    left: 59.7%;
    width: 35%;
    height: 54.8%;
}

#statsChart canvas {
  margin: 0;
}
/* pokedex end */
/****************/

/****************/
/* Pokemon info start */
#pokeInfo {
  min-width: 200px;
  width: 95vw;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid white;
  border-radius: 10px;
  background-color: red;
}

#pokeInfo ul li {
  list-style-type: none;
  color: white;
  font-family: var(--font-main);
  font-size: 2rem;
}
/* Pokemon info end */
/****************/
