.searchButtons {
  padding:5px;
  margin-left: 5px;
  font-size: 1.5rem;
  background-color: var(--second-color);
  color: var(--first-color);
  font-family: var(--font-main);
  border-radius: 5px;
  cursor:url('/public/images/poke_cursor.png'), pointer;
}

button:hover {
  background: var(--first-color);
  color: var(--second-color);
}

#searchLabel {
    color: var(--second-color);
}