.tcgResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.tcgHolder {
    width: 250px;
    padding-bottom: 1rem;
}

.tcgResults img:hover {
    animation: shake 0.5;
    animation-iteration-count: infinite;
}


 