/* * {
    font-family: var(--font-main);
} */

.singleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardTitle {
    font-size: 8vw;
    margin: 0;
    color: black;
    font-family: var(--font-main);
    text-shadow: -0.25vw 0 white, 0 0.25vw white, 0.25vw 0 white, 0 -0.25vw white;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardPrinting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

#priceChart {
    background: #f5f5f5;
    border-radius: 5px;
    position: relative;
    min-width: 250px;
    min-height: 250px;
    width: 50vw;
    height: 50vh;
    max-width: 90vw;
    max-height: 90vh;
}

#cardmarketHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    border: 6px solid var(--second-color);
    border-radius: 10px;
    background-color: var(--first-color);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sectionHeading {
    font-size: 5vw;
    margin: 0;
    color: white;
    font-family: var(--font-main);
}

.cardPrinting h2 {
    font-size: 4vw;
    margin: 0;
    padding-left: 1rem;
    color: white;
    font-family: var(--font-main);
}

.cardPrinting h3 {
    font-size: 3vw;
    margin: 0;
    padding-left: 1.5rem;
    color: white;
    font-family: var(--font-main);
}

.singleCard a {
    margin: 10px 0;
    padding: 2%;
    border-radius: 5px;
    font-family: var(--font-main);
    font-size: 1.5rem;
    color: var(--first-color);
    background: var(--second-color);
}

.back {
    padding: 2%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: var(--second-color);
    color: var(--first-color);
    cursor: pointer;
}

.singleCard a:hover {
    background: var(--first-color);
    color: var(--second-color);
}

.back:hover {
    background: var(--first-color);
    color: var(--second-color);
}