:root {
  --first-color:#021939;
  --second-color: #ffcb05;
  --third-color: #1e3a8a;
  --font-main: 'webfont15ze';
  --font-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: 'webfont15ze';
  src: url('https://get.fontspace.co/webfont/15ze/N2RkMTc5ZWI4ZWM4NGM5YmFlZjJmMDkyMjVjZWJiZWMub3Rm/pocket-monk.woff') format('woff'),
      url('https://get.fontspace.co/webfont/15ze/N2RkMTc5ZWI4ZWM4NGM5YmFlZjJmMDkyMjVjZWJiZWMub3Rm/pocket-monk.otf')  format('opentype');
}

body {
  padding: 0;
  margin: 0;
  }

* {
font-family: var(--font-secondary);
}

.backgroundImg {
  position: fixed;
  top: 0;
  z-index: -10;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
}

#bgHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pokemon logo */
#pokemon {
  height: 100px;
  flex-grow: 0;
}


/*******POKEBALL*********/

.centreItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#pokeball {
  width: 10vw;
  animation: rotation 4s infinite linear;
  margin-top: 5vh;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*******POKEMON ERROR*********/
.searchMsg {
  font-family: var(--font-main);
  font-size: 5vw;
  margin: 0;
  text-shadow: -0.25vw 0 white, 0 0.25vw white, 0.25vw 0 white, 0 -0.25vw white;
}